<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- (INICIO) CONFIGURACIÓN PARA TAILWIND CSS USANDO CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        clifford: '#da373d',
                    }
                }
            }
        }
    </script>
    <!-- (FIN) CONFIGURACIÓN PARA TAILWIND CSS USANDO CDN -->

</head>

<body>
    <div id="root"></div>
    <script src="./productos_categorias.jsx" type="module"></script>
</body>

</html>